

<br/>
@using (Html.BeginForm("Connexion", "Login"))
{
    
    
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="email" type="text" class="form-control" name="login" placeholder="Email">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
       
        <br />
        <input type="submit" value="connexion" />

    <h1>@Request.QueryString["error"]</h1>
}