
@using (Html.BeginForm("ModifierNom", "CompetitionEquipe"))
{

   
    <label>Nom</label>
    <input type="text" name="nom" value="@ViewBag.Nom" required="required" />


    <input type="submit" value="Modifier" />

}

