
@{
    ViewBag.Title = "Handisport";
}

<h2>Handisport</h2>
<p>En handisport, le tennis de table était déjà inscrit au programme des premiers Jeux Paralympiques de Rome en 1960.</p>

<h2>Classification</h2>
<p>Pour concourir sur un pied d’égalité, les athlètes sont classés en diverses catégories et classes.  La classification est effectuée par un personnel médical et technique spécialisé chargé d’évaluer l’impact de l’infirmité sur le sport. Un système de classification est appliqué à chaque sport, en fonction des spécificités de celui-ci et aux conséquences du handicap sur la performance de l’athlète.</p>
<br />
<h4>Déficience physique</h4>
<strong>Classe 1 à 5 : joueurs assis</strong>
<ul>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110986" target="_blank">01: atteinte majeure des jambes et sévère des bras et du tronc</a></li>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110987" target="_blank">02: atteinte majeure des jambes et du tronc et handicap léger des bras</a></li>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110409" target="_blank">03: atteinte majeure des jambes et du tronc et atteinte léger des bras</a></li>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110411" target="_blank">04: atteinte sévère du tronc et majeure des jambes</a></li>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110412" target="_blank">05: atteinte majeure des jambes</a></li>
</ul>
<br />
<strong>Classe 5 à 10 : joueurs debout</strong>
<ul>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110413" target="_blank">06: atteinte sévère de 3 ou 4 membres, hémiplégie, atteinte majeure ou amputation des jambes</a></li>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110261" target="_blank">07: atteinte légère ou sévère de 3 membres, hémiplégie, atteinte sévère ou amputation d'une jambe</a></li>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110263" target="_blank">08: atteinte légère de 2 membres ou personne de petite taille</a></li>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110266" target="_blank">09: atteinte légère, sévère ou amputation d'un membre</a></li>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110265" target="_blank">10: atteinte légère d'un pied ou d'une main, atteinte majeure ou amputation d'un avant bras</a></li>
</ul>
<br />
<h4>Déficience intellectuel</h4>
<strong>Classe 11 : </strong>
<ul>
    <li><a href="https://vimeopro.com/franceparalympique/classifications-paralympiques/video/182110053">11: Quotient intellectuel inférieur à 70</a></li>
</ul>
 
<br />

<h2>Fédération Handisport en Belgique</h2>
<table>
    <tr>
        <td><a href="http://www.paralympic.be/fr" target="_blank"><img src="~/Content/image/ParalympicLogoBelgian.png" alt="Logo Belgium paralympique" class="img-responsive" /></a></td>
        <td><a href="http://www.paralympic.be/fr" target="_blank">Belgian Paralympic Committee</a></td>
    </tr>
    <tr>
        <td><a href="http://www.handisport.be"><img src="~/Content/image/logo_lhf.png" alt="Logo Ligue Handisport Francophone" class="img-responsive"/></a></td>
        <td><a href="http://www.handisport.be" target="_blank">Ligue Handisport Francophone</a></td>
    </tr>
    <tr>
        <td><a href="http://www.parantee.be"><img src="~/Content/image/logo_parantee.png"  alt="Logo Parantee" class="img-responsive"/></a></td>
        <td><a href="http://www.parantee.be" target="_blank">Parantee</a></td>
    </tr>
</table>
<br />
<p>Source vidéo : <a href="https://vimeo.com/franceparalympique">France Paralympique</a> sur <a href="https://vimeo.com/">Vimeo</a></p>
