

@using (Html.BeginForm("AjoutMatch", "Serie"))
{

    <input type="hidden" value="@ViewBag.idComp" name="id" />
    <label>Joueur 1</label>
    @Html.DropDownList("joueur1", ViewBag.listeJoueur as SelectList, string.Empty, new { @class = "form-control" })

    <label>Score joueur 1</label>
    <input type="number" name="score1" required="required" />

    
    <label>Joueur 2</label>
    @Html.DropDownList("joueur2", ViewBag.listeJoueur as SelectList, string.Empty, new { @class = "form-control" })

    <label>Score joueur 2</label>
    <input type="number" name="score2" required="required" />

    <input type="submit" value="Ajouter" />

}

