

@using (Html.BeginForm("AjouterPhaseFinale", "Serie"))
{

    <input type="hidden" value="@ViewBag.idComp" name="id" />
    <label>Taille</label>
    <input type="number" name="taille" min="1" max="5" required="required" />

  

    <input type="submit" value="Ajouter" />

}