

@using (Html.BeginForm("AjouterPhaseFinale", "Serie"))
{

    <input type="hidden" value="@ViewBag.idComp" name="id" />
    <label>Taille</label>
    <input type="number" name="taille"  required="required" />

    <label>Descriptif</label>
    <input type="text" name="desc"  required="required" />

    <input type="submit" value="Ajouter" />

}