 

    @using (Html.BeginForm("AjouterTypeComp", "Competition"))
    {

    <label>Nom</label>

    <input type="text" name="nom" required="required" />
    <label>Match perdu</label>
    <input type="text" name="desc" required="required" height="45"/>

    <input type="submit" value="Ajouter" />

    }
