@using basePing.Models;




<table border="1" class="table table-striped">
    @{
((Categorie)ViewBag.cat).GetListSousCat();

        <tr><th>Nom de la compétition</th><th>Date des compétitions</th><th>Type de la compétition</th></tr>

        foreach (Competition c in ViewBag.listComp)
        {
            <tr class="bg-info">
                <td>
                    @Html.ActionLink(c.Nom, "InfoComp", "Competition",
                              new { id = c.Id }, new { @class = "btn btn-info" })
                </td>
                <td>
                    @c.DateDeb.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @c.TypeComp
                </td>


            </tr>
        }

        if ((bool)Session["admin"])
        {
            <tr class="bg-info">
                <td colspan="3">
                    @Html.ActionLink("Crée une nouvelle compétition", "AjoutComp", "Competition",
                    new { id = ViewBag.cat.Id, idSC = Session["idSC"] }, new { @class = "btn btn-info" })

                </td>
            </tr>
        }


    }




</table>  